<!-- extending properties from authentication_parent html file -->
{% extends "authentication_parent.html" %}
{% block content %}
<!-- adding name input section -->
<form action="/login" method="POST" >
    {{ form.hidden_tag() }}
<div class="form-group row">
    <label for="" class="col-sm-2 col-form-label">{{ form.email.label }}</label>
    <div>
        {{ form.email }}
    </div>
</div>
<!-- inputing password -->

<div class="form-group row">
    <label for="confirm_password" class="col-sm-2 col-form-label">{{ form.password.label }}</label>
    <div>
        {{ form.password }}
    </div >
</div>
        
   

    
    <button  class="btn btn-block btn-dark">{{ form.submit }}</button>
</div>


{% endblock %}
