<!-- importing from authentication_parent.html -->
{% extends'authentication_parent.html'%}
{% block content %}

<!-- form group for register -->
<form  action="/register" method="POST">
    <!-- name section -->
    <!-- name section -->
    {{ form.hidden_tag() }}
    <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">{{ form.username.label }}</label>
        <div ">
            {{ form.username}}
        </div>
    </div>
    <!-- email section -->
    <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">{{ form.email.label }}</label>
        <div>
            {{ form.email }}
        </div>
    </div>
    <!--password section  -->
    <div class="form-group row">
        <label for="password" class="col-sm-2 col-form-label">{{ form.password.label }}</label>
        <div class="btn btn-lg ">
            {{ form.password }}
        </div>
    </div>

    <!-- confriming pasword section -->


    {{ form.submit }}
</form>

{% endblock %}